version: "3.8"

services:
  bot:
    build: ./
    command: ./bot
    env_file:
      - ./.env
    depends_on:
      - redis
    ports:
      - 80:80

  redis:
    image: redis:latest
    command:
      - /usr/local/etc/redis/redis.conf
    volumes:
      - ./configs/redis.conf:/usr/local/etc/redis/redis.conf
      - ./.database/redis/data:/data
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
